// COLORS
$color-heading: #ffe100;

$color-primary: #ff0055;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary: #4885ed;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #dbd3d3;
$color-grey-light-2: #b4b4b4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;
//

$default-font-size: 1.6rem;
$default-font-color: #383838;

// GRID

$base-width: 192rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 2rem;
