.section-footer {
  padding: 14rem 0;
  background-color: $default-font-color;
  display: block;
  color: $color-white;
  .lang-change {
    display: flex;
    align-items: center;
    &__icon {
      fill: $color-white;
      height: 5rem;
      margin-right: 4.7rem;
    }
    &__selectcontainer {
      border-bottom: 1px solid #fff;
    }
    &__selectbox {
      font-size: 4rem;
      color: $color-white;
    }
  }
  .footer-heading {
    font-size: 5rem;
    font-family: "Product Sans Bold";
    color: $color-white;
    margin-top: -1rem;
  }
  .footer-heading-sub {
    font-size: 3rem;
    font-family: "Product Sans";
  }
  .secction-about-speed {
    padding: 10rem 0;
    @include clearfix;
    border-bottom: 1px solid $color-white;
  }
  .div-flex {
    display: flex;
    align-items: flex-start;
  }
  .about-container {
    &__icon {
      // margin-top: 2rem;
    }
    &__list {
      margin-top: 4.6rem;
    }
    &__item {
      font-size: 3rem;
      color: $color-white;
      font-family: "Product Sans";
    }
  }
  .footer__list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
    &__link {
      font-size: 3rem;
      color: $color-white;
      font-family: "Product Sans";
    }
  }
  .footer_input-container {
    display: flex;
    align-items: center;
    &__input {
      display: inline-block;
      width: 66rem;
      padding: 3rem 4rem;
      border-radius: 1rem;
      outline: none;
      font-size: 4rem;
      color: $default-font-color;
      font-family: inherit;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #727272;
      }
    }
    &-icon-wrap {
      display: inline-block;
      margin-left: 4rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: $color-primary;
    }
    &-icon {
      height: 8rem;
    }
  }
  .footer_social-container {
    display: flex;
    align-items: center;
    &-icon {
      font-size: 5rem;
      color: $color-white;
      transition: all 0.2s;
      &:not(:last-child) {
        margin-right: 7rem;
      }
    }
    &-fb:hover {
      color: #3c5a99;
    }
    &-in:hover {
      color: #0077b5;
    }
    &-insta:hover {
      color: #e1306c;
    }
  }
  .download-store-container {
    display: flex;
    img {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
  .copyright-container {
    padding-top: 8rem;
    text-align: center;

    .copyright,
    p {
      font-size: 3rem;
      font-family: "Product Sans";
      letter-spacing: 0.6px;
      line-height: 36px;
    }
    .copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      &__icon {
        height: 3rem;
        margin-right: 1rem;
      }
    }
  }
}
