.section-createListing {
  padding: 2rem 32rem;
}

.input-group {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid $default-font-color;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  input {
    font-family: inherit;
    color: inherit;
    font-size: 2.5rem;
    padding: 3rem;
    padding-right: 5rem;

    line-height: 3rem;
    &::placeholder {
      color: inherit;
    }
  }
  .expendadInput {
    background-color: #f3f3f3;
    padding: 2rem 0;
  }
  .ex-container {
    &:not(:last-child) {
      border-bottom: 1px solid #727272;
    }
  }
  .icon {
    position: absolute;
    top: 2rem;
    height: 4.5rem;
    right: 2rem;
  }
  .down-icon {
    height: 1.5rem;
    top: 3.5rem;
  }
}
