.section-heading {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $color-white;
}
.section-bilboard {
  padding: 6rem 0;
  .bilboard {
    border-bottom: 1px solid $default-font-color;
    padding-bottom: 14rem;
    @include clearfix;

    &__info,
    &__image-container {
      height: 80rem;
      position: relative;
    }
    &__image {
      height: 100%;
      width: 100%;
    }
    &__partners {
      position: absolute;
      top: 12rem;
      right: 0;
      padding: 6px;
      text-align: left;
      padding-left: 28rem;
      .bilboard__image {
        height: 7rem;
      }
      .partner-logo {
        height: 7rem;
        display: block;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
    &__input-container {
      flex: 1;
    }
    &__search-input-container {
      width: 100%;
      position: relative;
    }
    &__search-input {
      background-color: $color-white;
      padding: 3.2rem 12rem;
      border: 1px solid $color-black;
      border-radius: 1rem;
      margin-top: 12rem;
      width: 100%;
      height: 100%;
      box-shadow: 0 0.6rem 0.6rem rgba($color-black, 0.16);

      font-size: 3rem;
      &::placeholder {
        font-size: 3rem;
      }
      &:hover,
      &:focus {
        outline: none;
      }
    }
    &__search-input-icon {
      position: absolute;
      top: 77%;
      left: 6%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 4.9rem;
    }
    &__box {
      .icon-arrow {
        margin-left: 6rem;
      }
    }
    &__button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }
  }
}
.section-menu {
  padding: 8rem 0 9rem 0;
  .bigmenu {
    &__item {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
    .heading-secondary {
      width: 23rem;
    }
    &__icon {
      height: 5rem;
      margin-left: 24rem;
    }
  }
}
