* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-size: 14px;
  background-color: #ffffff;
  font-family: sans-serif, serif;

  color: #383838;
  // font-family: 'Archivo Narrow', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
