* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-size: 14px;
  background-color: #ffffff;
  font-family: sans-serif, serif;
  color: #383838;
  // font-family: 'Archivo Narrow', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.default-button {
  font-size: 1.2em;
  background: var(--button-color);
  padding: 1em 3.5em;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.main-component {
  position: relative;
}
.wrapper {
  padding: 0.5em 1em;
}
.pad-top-2 {
  padding: 2em 1em;
}
.pad-top-4 {
  padding: 4em 1em;
}
.default-margin-top {
  margin-top: 8em;
}
